* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn {
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
img{
    height: 20rem;
}
.btn-buy {
  padding: 0.5rem 3rem;
  border-radius: 3rem;
  border: none;
  color: white;
  background-color: black;
}
.bg-eee {
  background-color: #eee;
}
.shadow {
  box-shadow: 1rem 1rem 1rem red;
}

.bg-red {
  background-color: red;
}

.bg-black {
  background-color: black;
}
